<a href="https://colab.research.google.com/github/8695145656/DEV-assignment/blob/main/ml_polynomial_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
from sklearn import linear_model

In [ ]:
df=pd.read_csv('/content/gold_rate_history.csv')

In [ ]:
df.head()

   area  bedrooms  old   price
0   400       3.0    5   10500
1   600       4.0   15   95000
2  3200       NaN   15  650000
3  3600       3.0   30  700000
4  4000       5.0    8  760000

In [ ]:
df.info

<bound method DataFrame.info of    area  bedrooms  old   price
0   400       3.0    5   10500
1   600       4.0   15   95000
2  3200       NaN   15  650000
3  3600       3.0   30  700000
4  4000       5.0    8  760000
5  4100       4.0    8  810000>

In [ ]:
df.shape

(6, 4)

In [ ]:
df.isna().sum()

Date        986
Country     986
State       986
area        986
bedrooms    987
old         986
price       986
dtype: int64

In [ ]:
df[['bedrooms']]=df[['bedrooms']].fillna(df.bedrooms.median())

In [ ]:
df

   area  bedrooms  old   price
0   400       3.0    5   10500
1   600       4.0   15   95000
2  3200       4.0   15  650000
3  3600       3.0   30  700000
4  4000       5.0    8  760000
5  4100       4.0    8  810000

In [ ]:
#split Traning Data
train = df.drop('price',axis='columns')

In [ ]:
train

   area  bedrooms  old
0   400       3.0    5
1   600       4.0   15
2  3200       4.0   15
3  3600       3.0   30
4  4000       5.0    8
5  4100       4.0    8

In [ ]:
#train Data
test = df.price
test

0     10500
1     95000
2    650000
3    700000
4    760000
5    810000
Name: price, dtype: int64

In [ ]:
#linearRegression
reg = linear_model.LinearRegression()
reg.fit(train,test)

LinearRegression()

In [ ]:
reg.score(train,test)

0.9966966409645315

In [ ]:
#coefficient:M
reg.coef_

array([ 205.28194629, 9917.95635608, 1359.11363098])

In [ ]:
#intercept
reg.intercept_

-96114.0243924678

In [ ]:
reg.predict([[600,4.0,15]])

/usr/local/lib/python3.9/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([87113.6732722])

In [ ]:
#y = mx1+m2x2+m3x3+b
205.28194629*1500+ 9917.95635608*3+1359.11363098*10+-96114.0243924678

255153.90042057214