<a href="https://colab.research.google.com/github/8695145656/DEV-assignment/blob/main/z_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from statsmodels.stats import weightstats as stests

In [ ]:
df=pd.read_csv("/content/gold_rate_history.csv")

In [ ]:
df.head()

,Date,Country,State,Location,Pure Gold (24 k),Standard Gold (22 K)
0,01-02-2006,India,Tamilnadu,Chennai,768.0,711.0
1,01-03-2006,India,Tamilnadu,Chennai,770.5,713.0
2,01-04-2006,India,Tamilnadu,Chennai,784.5,726.0
3,01-05-2006,India,Tamilnadu,Chennai,782.5,725.0
4,01-06-2006,India,Tamilnadu,Chennai,776.0,719.0

In [ ]:
df.shape

(4971, 6)

In [ ]:
df.isna().sum()

Date                    3971
Country                 3971
State                   3971
Location                3971
Pure Gold (24 k)        3971
Standard Gold (22 K)    3971
dtype: int64

In [ ]:
df=df.dropna()

In [ ]:
df.shape

(1000, 6)

In [ ]:
df.describe()

       Pure Gold (24 k)  Standard Gold (22 K)
count       1000.000000           1000.000000
mean        1061.387500            983.780000
std          195.633961            182.484998
min          768.000000            711.000000
25%          907.875000            841.000000
50%          976.250000            904.000000
75%         1216.000000           1127.000000
max         1572.500000           1457.000000

In [ ]:
ztest,pvalue = stests.ztest(df["Pure Gold (24 k)"],x2=None, value=0)

In [ ]:
print (ztest)

171.5654054691538

In [ ]:
print(pvalue)

0.0

In [ ]:
if pvalue<0.05:
  print("Null Hypothisis Reject,Alternative Hypothisis Accepted")
else:
  print("Null Hypothisis Accepted,Alternative Hypothisis Rejected")

Null Hypothisis Reject,Alternative Hypothisis Accepted